flow.json
{
    "name": "AgenteGM - Inicio de Partida",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "agente-gm/start"
        },
        "name": "Inicio Partida",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [200, 300]
      },
      {
        "parameters": {
          "model": "gpt-4",
          "prompt": "El jugador ha dicho lo siguiente: {{$json[\"body\"]}}. Devuelve solo una palabra: 'crear', 'cargar' o 'eliminar' según su intención."
        },
        "name": "Interpretar intención del jugador",
        "type": "n8n-nodes-base.openai",
        "typeVersion": 1,
        "position": [400, 300],
        "credentials": {
          "openAIApi": {
            "id": "your-openai-credentials-id"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "text",
          "rules": [
            {
              "value": "crear",
              "output": 1
            },
            {
              "value": "cargar",
              "output": 2
            },
            {
              "value": "eliminar",
              "output": 3
            }
          ]
        },
        "name": "Decisión del jugador",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 1,
        "position": [600, 300]
      },
      {
        "parameters": {
          "operation": "getAll",
          "baseId": "appXXXXXXXXXXXXXX",
          "tableId": "personajes"
        },
        "name": "Cargar personaje",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 1,
        "position": [800, 200],
        "credentials": {
          "airtableApi": {
            "id": "your-airtable-credentials-id"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "baseId": "appXXXXXXXXXXXXXX",
          "tableId": "personajes",
          "recordId": "{{$json[\"id\"]}}"
        },
        "name": "Eliminar personaje",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 1,
        "position": [800, 300],
        "credentials": {
          "airtableApi": {
            "id": "your-airtable-credentials-id"
          }
        }
      },
      {
        "parameters": {
          "operation": "create",
          "baseId": "appXXXXXXXXXXXXXX",
          "tableId": "personajes",
          "fields": {
            "character_name": "Nombre Generado",
            "strength": 1,
            "dexterity": 2,
            "constitution": 3
          }
        },
        "name": "Crear personaje",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 1,
        "position": [800, 400],
        "credentials": {
          "airtableApi": {
            "id": "your-airtable-credentials-id"
          }
        }
      }
    ],
    "connections": {
      "Inicio Partida": {
        "main": [
          [
            {
              "node": "Interpretar intención del jugador",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Interpretar intención del jugador": {
        "main": [
          [
            {
              "node": "Decisión del jugador",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Decisión del jugador": {
        "main": [
          [
            {
              "node": "Crear personaje",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Cargar personaje",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Eliminar personaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
  